/*--- FONT STYLES ---*/

html {
    font-size: 16px;
}

/* poppins italic */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v5/pxiGyp8kv8JHgFVrJJLucHtA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins normal 400 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins normal bold */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* sintony normal */
@font-face {
  font-family: 'Sintony';
  font-style: normal;
  font-weight: 400;
  src: local('Sintony'), url(https://fonts.gstatic.com/s/sintony/v5/XoHm2YDqR7-98cVUETMtug.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* sintony normal bold */
@font-face {
  font-family: 'Sintony';
  font-style: normal;
  font-weight: 700;
  src: local('Sintony Bold'), local('Sintony-Bold'), url(https://fonts.gstatic.com/s/sintony/v5/XoHj2YDqR7-98cVUGYgIr9AJkw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*--- CONTAINERS / TRANSFORMS---*/

.flex {
    display: flex;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.full {
    width: 100%;
}



/* --- HEADER ---*/ 

#header {
    display: flex;
    height: 4rem; /* 64px/16px */
    justify-content: space-between; 
    font-family: "Sintony", sans-serif;
}

.nav-desktop {
    justify-content: space-between;
    align-items: center;
    font-size: 1.2;
}

.nav-desktop span {
    margin: 1rem;
}

.nav-desktop span:hover {
    font-weight: 700;
    text-decoration: underline;
}

.logo {
    align-items: center;
    font-size: 2rem;
}

.logo-img {
    height: 4rem;
}

.colmar-logo {
    color: #2E0927;
    font-weight: 700;  
}

.academy-logo {
    color: #04756F;
}

.mobile {
    display: none;
}

@media only screen and(max-width:760px) {
    .logo span {
        display: none;
    }
    
    .nav-desktop {
        display: none;
    }
    
    .mobile {
        display: initial;
    }
}

/*--- BANNER SECTION ---*/

.banner {
    background-color: rgba(255, 140, 0, 0.7);
    justify-content: space-between;
    align-items: center;
}

.banner img {
    max-width: 60%;
    height: auto;
    margin: 2rem 1.5rem;
}

.cta {
    flex-wrap: wrap;
    justify-content: center;
}

.cta h1 {
    font-family: "Sintony", sans-serif;
    font-size: 4rem;
    font-weight: 700;
}

.cta h2 {
    font-family: "Poppins", serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
}

.cta-btn {
    color: white;
    font-family: "Poppins", serif;
    font-size: 2rem;
    text-align: center;
    background-color: #04756F;
    padding: .5rem;
    width: 60%;
    margin-top: 3rem;
    border-radius: .5rem; 
}

.cta-btn a {
    text-decoration: none;
    color: white;
}

/*--- MAIN CONTENT SECTION ---*/

#main-content {
    padding: 2rem 0 2rem 1.5rem;
}

.information-img img {
    max-width: 100%;
    height: auto;
}

.information-img {
    width: 60%;
    margin-bottom: 2rem;
    margin-right: 1.5rem;
}


.main-news h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.main-news p {
    font-family: "Poppins", serif;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.main-news span {
    font-family: "Poppins", serif;
    font-style: italic;
    font-size: 0.9rem;
    font-weight: 700;
}

/*--- SUB CONTENT SECTION --*/

.sub-content {
    width: 40%;
    height: auto;
}

.sub-img {
    width: 35%;
    height: 100%;
    margin: 1rem;
}

.sub-img img {
    width: 100%;
    height: auto;
}

.sub-text {
    width: 65%;
    margin-left: 2rem;
}

.sub-text h3 {
    font-family: "Sintony", serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.sub-text p {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

.sub-text a {
    font-family: "Poppins", sans-serif;
    color: #04756F;
    text-decoration: none;
    font-weight: 700;
    
}

.sub-news {
    align-items: center;
    margin: 0 0 1.5rem 1rem;
}

.sub-content .sub-news:last-child {
    background-color: rgba(255, 140, 0, 0.7);
}

/*--- START LEARNING SECTION ---*/

#learning {
    background-color: rgba(255, 140, 0, 0.7);
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

#learning h1 {
    font-family: "Sintony", serif;
    font-size: 3rem;
    font-weight: 700;
    margin: 2rem;
}

.courses {
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-right: 2rem;
    justify-content: space-between;
}

.course {
    width: 30%;
    margin-right: 2rem;
    padding-bottom: 1.5rem;
    margin-top: 0;
    background-color: #fff;
}

.course-info {
    margin-top: 1rem;
}



















